{% extends "_layouts/base.html" %}
{% load i18n %}

{% block page_title %}{{ SITE_NAME }}{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ EVENT_TITLE }}</h1>
            <p>{{ EVENT_TEXT }}</p>
        </div>
    </div>

    {% if form.errors %}
        <div class="container">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    {% for field, error in form.errors.items %}
                        <strong>{{ field.title }}: {{ error }}</strong>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container">
        <form role="form" id="register-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">{% trans "Name and SURNAME" %}</label>
                <input type="text" value="" class="form-control" name="name" id="name" placeholder="{% trans "Name and SURNAME" %}" />
            </div>
            <div class="form-group">
                <label for="password">{% trans "Password" %}</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="{% trans "Password" %}" />
            </div>
            <div class="form-group">
                <label for="password2">{% trans "Password again" %}</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="{% trans "Password again" %}" />
            </div>
            <div class="form-group">
                <label for="email">{% trans "Email (cannot be changed)" %}</label>
                <input type="email" class="form-control" id="email" value="{{ email }}" disabled />
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="4" id="tostext">{{ TOS_TEXT }}</textarea>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="tos_checkbox"/>{{ TOS_TITLE }}
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">{% trans "Enter to vote" %}</button>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        $("#register-form").submit(function () {
            if ($("#name").val().length < 3) {
                alert("{% trans "Name is too short" %}");
                return false;
            }
            if ($("#password").val().length < 3) {
                alert("{% trans "Password is too short" %}");
                return false;
            }
            if ($("#password").val() != $("#password2").val()) {
                alert("{% trans "Passwords do not match" %}");
                return false;
            }
            if (!$("#tos_checkbox").is(':checked')) {
                alert("{% trans "You need to accept the license and conditions" %}");
                return false;
            }
            return true;
        });
    </script>
{% endblock js %}
